/* inizio tipografia */
body{
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
}
h1{
  font-size: 5.5rem;
  font-weight: 600;
}
h2{
  font-size: 4rem;
  font-weight: 600;
}
h3{
  font-size: 3rem;
  font-weight: 600;
}
h4{
  font-size: 2.5rem;
  font-weight: 600;
}
h4{
  font-size: 2rem;
  font-weight: 600;
}
p, a{
  font-size: 1.8rem;
  text-decoration: none;
}
/* fine tipografia */

/* inizio nav */
header .menu{
  height: 7rem;
}
header .menu .logo{
  vertical-align: middle;
  height: 1.8rem;
  margin-left: 5rem;
}
header .menu .logo, header .menu .menu-nav, header .menu .lang{
  display: inline-block;
  margin-top: 2.5rem;
}
header .menu .menu-nav li, header .menu .lang li{
  display: inline-block;
  padding: 0 1rem;
}
header .menu .lang li:nth-child(even){
  border-left: .1rem solid #000;
  border-right: .1rem solid #000;
}
header .menu ul li a{
  color: #000;
  font-size: 1.3rem;
  font-weight: 400;
}
header .fa-bars{
   font-size: 2rem;
   margin-top: 2.5rem;
 }
/* fine nav */

/* inizio jumbotron */
header .jumbotron{
  background-image: url("../img/hero-bg.jpg");
  height: 68rem;
  background-repeat: no-repeat;
  background-size: cover;
}
header .jumbotron h1, header .jumbotron p{
  text-align: center;
  color: #fff;
}
header .jumbotron .container h1{
  padding-top: 24rem;
}
header .jumbotron .container p{
  margin: 3rem 0;
}
header .jumbotron .container .app-wrap{
  width: 335px;
  margin: 0 auto;
}
/* fine jumbotron */

/* inizio main */
  /* inizio section two rides*/
  main .rides{
    margin-top: 5rem;
  }
  main .rides h2{
    padding-top: 7rem;
  }
  main .rides p{
    margin: 2rem 0;
  }
  main .rides .scooter{
    margin-right: 2rem;
  }
  main .rides .bike{
    margin-left: 2rem;
  }
  main .rides .scooter, main .rides .bike{
    background-color: #fafafa;
    text-align: center;
  }
  main .rides a {
    display: block;
  }
  main .rides .transport{
    height: 45rem;
    margin: 2rem 0;
  }
  /* fine section two rides */

  /* inizio section phone banner */
  main .phone-banner{
    background-image: url(../img/HelbizBanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
    margin: 5rem 0 40rem;
  }
  main .phone-banner .phone-wrap {
    width: 45rem;
    margin: 0 auto;
  }
  main .phone-banner .phone-wrap .iphone{
    width: 45rem;
    margin-top: 15rem;
  }
  main .phone-banner .container{
    margin-top: -23rem;
  }
  main .phone-banner .container h4{
    padding: 2rem 0 0;
  }
  main .phone-banner .container p{
    font-size: 1.5rem;
  }
  /* fine section phone banner */

  /* inizio section infos */
  main .infos .top-info{
    background-image: url(../img/ScooterHelbiz-2400.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 45rem;
    color: #fff;
    text-align: center;
  }
  main .infos .top-info h2{
    margin: 13rem 0 2rem;
  }
  main .infos .top-info p{
    margin-bottom: 2rem;
  }
  main .infos .top-info a{
    font-size: 2rem;
    color: #fff;
  }
  main .infos .bottom-info{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  main .infos .bottom-info a{
    color: #fff;
  }
  main .infos .bottom-info .apps, main .infos .bottom-info .cities{
    height: 42rem;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
  }
  main .infos .bottom-info .apps{
    margin-right: 1.5rem;
  }
  main .infos .bottom-info .apps a{
    margin-right: 2rem;
  }
  main .infos .bottom-info .cities{
    margin-left: 1.5rem;
  }
  main .infos .bottom-info .apps p, main .infos .bottom-info .cities p{
    padding: 2rem 0;
  }
  main .infos .bottom-info .apps{
    position: relative;
    background: #020024;
    background: -webkit-linear-gradient(bottom, rgba(2,0,36,1) 0%, rgba(37,46,56,1) 2%, rgba(65,86,106,1) 100%);
    background: -o-linear-gradient(bottom, rgba(2,0,36,1) 0%, rgba(37,46,56,1) 2%, rgba(65,86,106,1) 100%);
    background: linear-gradient(to top, rgba(2,0,36,1) 0%, rgba(37,46,56,1) 2%, rgba(65,86,106,1) 100%);
  }
  main .infos .bottom-info .apps img{
    height: 25rem;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  main .infos .bottom-info .cities{
    background-image: url(../img/Cities-1500.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* fine section infos */

  /* inizio section social */
  main .social{
    position: relative;
    width: 100%;
    height: 40rem;
    background-image: url(../img/Social-Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
  }
  main .social .white-space{
    position: absolute;
    width: 40rem;
    background-color: #fff;
    padding: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  main .social .white-space h3{
    margin-bottom: 1rem;
  }
  main .social .white-space a{
    color: #000;
    font-size: 3rem;
    margin-right: 4rem;
  }
  main .social .white-space a:last-of-type{
    margin-right: 0;
  }
  /* fine section social */
/* fine main */

/* inizio footer */
  /* inizio top footer */
  footer{
    background-color: #000;
    padding: 10rem 0;
  }
  footer .top-footer, .middle-footer, .bottom-footer{
    max-width: 1000px;
  }
  footer h4{
    color: #fff;
    margin-bottom: 2rem;
  }
  footer ul li{
    line-height: 3.5rem;
  }
  footer ul li a{
    color: #777;
    font-size: 1.5rem;
    font-weight: 400;
  }
  /* fine top footer */

  /* inizio middle footer */
  footer .middle-footer{
    padding: 4rem 0;
    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  footer .middle-footer .sicon a{
    font-size: 2rem;
    margin-right: 2rem;
  }
  footer .middle-footer a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
  }
  /* fine middle footer */

  /* inizio bottom footer */
  footer .bottom-footer{
    width: 254px;
    margin: 0 auto;
  }
  footer .bottom-footer a img{
    height: 40px;
  }
  /* fine bottom footer */
/* fine footer */

/* inizio media query schermi medi */
@media screen and (min-width: 768px) and (max-width:991px) {
  /* inizio tipografia */
  h1{
    font-size: 4.5rem;
    font-weight: 600;
  }
  h2{
    font-size: 3.5rem;
    font-weight: 600;
  }
  h3{
    font-size: 3rem;
    font-weight: 600;
  }
  h4{
    font-size: 2rem;
    font-weight: 600;
  }
  p, a{
    font-size: 1.8rem;
    text-decoration: none;
  }
  /* fine tipografia */

  /* inizio main */
    /* inizio section two rides */
      main .rides .bike, main .rides .scooter{
        margin: 1rem;
      }
      main .rides .transport{
        height: 30rem;
        margin: 2rem 0;
      }
    /* fine section two rides */

    /* inizio section phone banner */
      main .phone-banner{
        height: 40rem;
      }
      main .phone-banner .phone-wrap {
        width: 30rem;
        margin: 0 auto;
      }
      main .phone-banner .phone-wrap .iphone{
        width: 30rem;
        margin-top: 15rem;
      }
      main .phone-banner .container{
        margin: -2rem 4rem;
      }
    /* fine section phone banner */

    /* inizio section infos */
      main .infos .top-info{
        height: 35rem;
        margin: 0 1rem;
        padding-right: 2rem;
      }
      main .infos .top-info h2{
        margin: 8rem 0 2rem;
      }
      main .infos .top-info a{
        font-size: 1.5rem;
      }
      main .infos .bottom-info .cities{
        margin-right: 1rem;
      }
      main .infos .bottom-info .apps, main .infos .bottom-info .cities{
        height: 32rem;
      }
      main .infos .bottom-info .apps{
        margin-left: 1rem;
      }
      main .infos .bottom-info .apps p{
        margin: 0 1rem;
      }
      main .infos .bottom-info .apps img{
        height: 16rem;
      }
    /* fine section infos */
  /* fine main */

  /* inizio footer */
    footer .top-footer, footer .middle-footer{
      padding-left: 3rem;
    }
  /* fine footer */
}
/* fine media query schermi medi */

/* inizio media query schermi piccoli */
@media screen and (max-width: 767px){
  /* inizio tipografia */
  h1{
    font-size: 3.5rem;
    font-weight: 600;
  }
  h2{
    font-size: 3rem;
    font-weight: 600;
  }
  h3{
    font-size: 2.5rem;
    font-weight: 600;
  }
  h4{
    font-size: 2rem;
    font-weight: 600;
  }
  p, a{
    font-size: 1.6rem;
    text-decoration: none;
  }
  /* fine tipografia */
  /* inizio main */
    /* inizio section two rides */
      main .rides{
        margin-top: 1rem;
      }
      main .rides .bike, main .rides .scooter{
        margin: 1rem;
      }
      main .rides .transport{
        height: 30rem;
        margin: 1rem 0;
      }
    /* fine section two rides */

    /* inizio section phone banner */
      main .phone-banner{
        height: 35rem;
        margin-bottom: 35rem;
        margin-top: 1rem;
      }
      main .phone-banner .phone-wrap {
        width: 25rem;
        margin: 0 auto;
      }
      main .phone-banner .phone-wrap .iphone{
        width: 25rem;
        margin-top: 15rem;
      }
      main .phone-banner .container{
        margin: -2rem 4rem;
      }
    /* fine section phone banner */

    /* inizio section infos */
      main .infos .top-info{
        height: 35rem;
        margin: 0 1rem -2rem;
        background: linear-gradient(180deg,rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../img/ScooterHelbiz-2400.jpg) 0 no-repeat;
      	background-position-x: -640px;
      }
      main .infos .top-info h2{
        margin: 8rem 0 2rem;
      }
      main .infos .top-info a{
        font-size: 1.5rem;
      }
      main .infos .bottom-info .apps, main .infos .bottom-info .cities{
        height: 32rem;
        margin: 0 1rem 1rem;
      }
      main .infos .bottom-info .apps p{
        margin: 0 1rem;
      }
      main .infos .bottom-info .apps img{
        height: 16rem;
      }
    /* fine section infos */
  /* fine main */

  /* inizio footer */
    footer .top-footer, footer .middle-footer{
      padding-left: 3rem;
    }
    footer nav h4, footer .middle-footer a{
      margin-top: 3rem;
    }
    footer .middle-footer .sicon a{
      margin-top: 0;
    }
  /* fine footer */
}
/* fine media query schermi piccoli */
