/* inizio tipografia */
body{
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
}
h1{
  font-size: 5.5rem;
  font-weight: 600;
}
p, a{
  font-size: 1.8rem;
  text-decoration: none;
}
/* fine tipografia */
/* inizio nav */
header .menu{
  height: 7rem;
}
header .container .logo{
  vertical-align: middle;
  height: 1.8rem;
  margin-left: 5rem;
}
header .container .logo, header .container .menu-nav, header .container .lang{
  display: inline-block;
  margin-top: 2.5rem;
}
header .container .menu-nav li, header .container .lang li{
  display: inline-block;
  padding: 0 1rem;
}
header .container .lang li:nth-child(even){
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
}
header .container ul li a{
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
}
/* fine nav */

/* inizio jumbotron */
header .jumbotron{
  background-image: url("../img/hero-bg.jpg");
  height: 68rem;
  background-repeat: no-repeat;
  background-size: cover;
}
header .jumbotron h1, header .jumbotron p{
  text-align: center;
  color: #fff;
}
header .jumbotron .container h1{
  padding-top: 24rem;
}
header .jumbotron .container p{
  line-height: 7rem;
}
header .jumbotron .container .app-wrapper{
  width: 335px;
  margin: 0 auto;
}

/* fine jumbotron */

/* inizio main */
  /* inizio two rides*/

  /* fine two rides */
/* fine main */































/*  */
